<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <!-- <div class="alert alert-success">
    El registro se ha completado, <a [routerLink]="['/login']"> <strong>Identificate aqui.</strong> </a>
  </div>

  <div class="alert alert-danger">
    El registro no se ha completado.
  </div> -->

  <h2>Usuario:</h2>
  <form action="" class="was-validated col-md-6" name="Form_register" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="uname">Nombre:</label>
      <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" placeholder="ingresar nombre" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Por favor rellenar este campo.</div>
    </div>
    <div class="form-group">
      <label for="surname">Apellido:</label>
      <input type="text" class="form-control" id="surname" placeholder="Ingresar apellido" name="surname" #password="ngModel" [(ngModel)]="user.surname" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Por favor rellenar este campo.</div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="ejemplo@gmail.com" name="email" #email="ngModel" [(ngModel)]="user.email" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Por favor rellenar este campo.</div>
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" id="pwd" placeholder="*******" name="pwd" #pwd="ngModel" [(ngModel)]="user.password" required>
      <div class="valid-feedback">Valido</div>
      <div class="invalid-feedback">Por favor rellenar este campo.</div>
    </div>
    
    <button type="submit" class="btn btn-success">Registrarme</button>
  </form>
</div>

</body>
</html>